<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.nazgee.andengine.extension.box2dloader"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application android:debuggable="true" />

</manifest>